<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/index" method="post" novalidate autocomplete="off">
       <dir>
           <label for="username">用户：</label>
           <input type="text" placeholder="请输入账号" name="username" id="username">
       </dir>
       <dir>
           <label for="password">密码：</label>
           <input type="password" placeholder="请输入你的密码" name="password" id="password">
       </dir>

    <input type="submit" value="登录">
</form>
</body>
</html>